<p>Orders For Customer (Id: bah | surrogateId: meh)</p>
<hr>
<a routerLink='/users'><<<- Back </a>

<table *ngIf="records$ | async as records;">
    <thead>
        <tr>
            <td>ID</td>
            <td>Price</td>
            <td>Product</td>
            <td>Order Date</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let rec of records">
            <td>{{rec.guid}}</td>
            <td>{{rec.price}}</td>
            <td>{{rec.product}}</td>
            <td>{{rec.orderDate}}</td>
        </tr>
    </tbody>
</table>